@charset "UTF-8";
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #121212;
  color: #fce7f3;
  overflow: hidden;
  font-family: 'Noto Serif JP', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
}

::-webkit-scrollbar {
  display: none;
}

.grain::after {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-image: url('./assets/grain.png');
  background-repeat: repeat;
  opacity: 0.15;
  pointer-events: none;
  z-index: 20;
  mix-blend-mode: screen;
}
